
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    font-size: large;

}

nav {
    background-color:rgb(38, 22, 70);
    text-decoration: none;
   
}

.para{
    margin-top: 5px;
    font-size: x-large;
}

#insta{
    height: 20px;
    width: 20px;
    color: aliceblue;
}

#gmail{
    height: 20px;
    width: 20px;
    color: aliceblue;
}

#phone{
    height: 20px;
    width: 20px;
}

#address{
    height: 20px;
    width: 20px;
}

#map{
    height: 20px;
    width: 20px;
}

body{
    background-color: black;
        margin: 0;
        padding: 0;
        background-image: url(Bg1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #f9f9f9;
    }

    .About {
        background-color: rgb(30, 14, 88);
        width: fit-content;
        margin-left: 5%;
    }
    
    .Like {
        background-color:  rgb(30, 14, 88);     
        height: fit-content;
        width: fit-content;
        margin-right: 5%;
    float: right;
  }
    .projects{

        background-color: rgb(30, 14, 88); 
        background-size: fixed;
        width: fit-content;
        height: fit-content;
        margin-left: 5%;
    }
    .contact{
        background-color: rgb(30, 14, 88);
        background-size: fixed;
        width: fit-content;
        height: fit-content;
        float: right;
        margin-right: 5%;
        margin-bottom: 5%;
    }
